<%-
  require 'pathname'

  dir = object
  content = dir.content.sort
-%>
<header>
  <ol class="breadcrumb">
    <%- path = '/files/' -%>
    <li>
      <a href="<%= path %>">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </li>
    <%- ::Pathname.new(dir.path).each_filename do |dir| -%>
    <%- path = "#{path}#{dir}/" -%>
    <li>
      <a href="<%= path %>"><%= dir %></a>
    </li>
    <%- end -%>
  </ol>
</header>
<div id="content">
  <div id="files">
    <ul id="file-list" class="media-list">
    <%- content.each do |file_object| -%>
      <li class="media">
        <%-
          path =
            if file_object.directory?
              "/files/#{file_object.path}/"
            elsif file_object.file?
              "/editor/#{file_object.path}"
            end
        -%>
        <a class="file-icon pull-left" href="<%= path %>">
          <%- if file_object.directory? -%>
          <span class="glyphicon glyphicon-folder-open"></span>
          <%- elsif file_object.file? -%>
          <span class="glyphicon glyphicon-file"></spam>
          <%- end -%>
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <%= file_object.basename %>
          </h4>
        </div>
      </li>
    <%- end -%>
    </ul>
  </div>
</div>
<footer>
</footer>