<%-
  require 'pathname'

  dir = object
  content = dir.content.sort
-%>
<header class="row">
  <div class="col-md-2"></div>
  <ol class="breadcrumb col-md-8">
    <%- path = '/files/' -%>
    <li>
      <a href="<%= path %>">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </li>
    <%- ::Pathname.new(dir.path).each_filename do |dir| -%>
    <%- path = "#{path}#{dir}/" -%>
    <li>
      <a href="<%= path %>"><%= dir %></a>
    </li>
    <%- end -%>
  </ol>
  <div class="col-md-2"></div>
</header>
<ul id="file-list" class="media-list">
  <%- content.each do |file_object| -%>
  <%-
     path =
       if file_object.directory?
         "/files/#{file_object.path}/"
       elsif file_object.file?
         "/editor/#{file_object.path}"
       end
  -%>
  <li class="media row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%- if file_object.directory? -%>
      <a class="icon btn pull-left" href="<%= path %>">
        <span class="glyphicon glyphicon-folder-open"></span>
      </a>
      <%- elsif file_object.file? -%>
      <a class="icon btn pull-left" href="<%= path %>">
        <span class="glyphicon glyphicon-file"></span>
      </a>
      <%- end -%>
      <div class="media-body pull-left">
        <h4 class="media-heading pull-left">
          <a href="<%= path %>"><%= file_object.basename %></a>
        </h4>
      </div>
    </div>
    <div class="col-md-2"></div>
  </li>
  <%- end -%>
</ul>
<footer class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    here be footer
  </div>
  <div class="col-md-2"></div>
</footer>
